#url-shortener-input-field {
	min-width: 280px;
}

#current-domain-output {}

#current-domain-output .current-domain-name input {
	border: 0;
	outline: 0;
	padding-left: 0;
	padding-right: 0;
	background: none transparent;
	box-shadow: none;
	color: #32373c;
	font-weight: 600;
}

#url-shortener-input-field.valid {
	border-color: green;
}

#url-shortener-input-field.invalid {
	border-color: red;
}